doctype
html
	head
		meta(charset="utf-8")
		title #{title}
		include ./include/head
	body(onunload="alert('The onunload event was triggered')")
		include ./include/header
		block content
		include ./include/footer
		include ./include/player
