link(href="/libs/bootstrap/dist/css/bootstrap.min.css",type='text/css',rel="stylesheet")
link(href="/libs/bootstrap/dist/css/bootstrap-theme.min.css",type="text/css",rel="stylesheet")
link(href="/css/head.css",type="text/css",rel="stylesheet")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.js")
script(src="/js/moment.js")
