
div.audio-box#player
	.audio-container
		.audio-cover
		.audio-view
			span.audio-title
			.audio-body
				.audio-backs
					.audio-this-time 00:00
					.audio-count-time 00:00
					.audio-setbacks
						i.audio-this-setbacks(style="width:0%;")
							span.audio-backs-btn
						span.audio-cache-setbacks
					//- audio(src="/upload/music/燕池 - 从前慢.mp3")
			.audio-btn
				.audio-select
					.audio-prev
					.audio-play
					.audio-next
					.audio-menu
					.audio-volume
					.audio-delete.glyphicon.glyphicon-trash
				.audio-set-volume
					.volume-box
						i(style="height:80%;")
							span
				.audio-list
					.audio-list-head
						p 列表
						span.menu-close.glyphicon.glyphicon-remove
					ul.audio-inline
						
			.audio-lock
				span.glyphicon.glyphicon-lock.clock
