extends ../../layout

block content
	head
		link(href="/css/pwdPage.css",type="text/css",rel="stylesheet")

	.container#menu
		.col-sm-2
		form.form-horizontal.col-sm-10(method="post",action="/user/update/name")
			input(type="hidden",name="user[_id]",value=user._id)
			.form-group
				label.col-sm-2.control-lable 请输入新的用户名
				.col-sm-5
					input.form-control(type="text",name="user[name]")
			.form-group
				.col-sm-offset-2.col-sm-2
					button.btn.btn-success(type="submit",id="submit") 提交